body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

form label, form input, form button {
    display: block;
    margin-bottom: 10px;
}

#appointment-list {
    width: 60%;
    margin: 20px auto;
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
}
